<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin}">
>

<body data-layout-mode="default" data-theme="light" data-layout-width="fluid" data-topbar-color="dark"
      data-menu-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='false'>
<section layout:fragment="content">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                        <li class="breadcrumb-item active"><a href="/items">Products</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                <h4 class="page-title">Edit Items</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <form method="post"
          role="form"
          th:action="@{/items/save}"
          th:object="${item}"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>

                        <input type="hidden"
                               id="id"
                               class="form-control"
                               placeholder="Enter Item ID"
                               th:field = "*{itemID}"
                        >

                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Item Name <span
                                    class="text-danger">*</span></label>
                            <input type="text"
                                   id="name"
                                   class="form-control"
                                   placeholder="Enter Item Name"
                                   th:field = "*{name}"
                            >
                        </div>
                        <p th:errors = "*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}"></p>

                        <div class="form-group mb-3">
                            <label for="description" class="form-label">Item Description <span
                                    class="text-danger">*</span></label>
                            <textarea class="form-control" id="description" rows="3"
                                      placeholder="Please enter Item Description"
                                      th:field = "*{description}"
                            ></textarea>
                        </div>
                        <p th:errors = "*{description}" class="text-danger"
                           th:if="${#fields.hasErrors('description')}"></p>

                        <div class="form-group mb-3">
                            <label for="stock_quantity" class="form-label">Stock Quantity <span
                                    class="text-danger">*</span></label>
                            <input type="number"
                                   id="stock_quantity"
                                   class="form-control"
                                   placeholder="Enter stock quantity"
                                   th:field = "*{stock_quantity}"
                            >
                        </div>
                        <p th:errors = "*{stock_quantity}" class="text-danger"
                           th:if="${#fields.hasErrors('stock_quantity')}"></p>

                        <div class="form-group mb-3">
                            <label for="sellerID" class="form-label">Seller <span class="text-danger">*</span></label>
                            <select class="form-control select2" id="sellerID" name="sellerID">
                                <option>Select</option>
                                <!-- Loop through categories and populate options -->
                                <option th:each="seller : ${sellers}"
                                        th:value="${seller.SellerID}"
                                        th:text="${seller.name}"
                                        th:selected="${seller.SellerID eq item.sellerID}"></option>
                            </select>
                        </div>
                        <p th:errors = "*{sellerID}" class="text-danger"
                           th:if="${#fields.hasErrors('sellerID')}"></p>

                        <div class="form-group mb-3">
                            <label for="itemTypeID" class="form-label">Item Type <span class="text-danger">*</span></label>
                            <select class="form-control select2" id="itemTypeID" name="itemTypeID">
                                <option>Select</option>
                                <!-- Loop through categories and populate options -->
                                <option th:each="itemType : ${itemTypes}"
                                        th:value="${itemType.itemTypeID}"
                                        th:text="${itemType.name}"
                                        th:selected="${itemType.itemTypeID eq item.itemTypeID}"></option>
                            </select>
                        </div>
                        <p th:errors = "*{itemTypeID}" class="text-danger"
                           th:if="${#fields.hasErrors('itemTypeID')}"></p>
                        <div class="form-group mb-3">
                            <label for="attributeIDs" class="form-label">attributes <span class="text-danger">*</span></label>
                            <select class="form-control select2" id="attributeIDs" multiple="multiple" name="attributeIDs">
                                <option>Select</option>
                                <!-- Loop through categories and populate options -->
                                <option th:each="attribute : ${attributes}"
                                        th:value="${attribute.AttributeID}"
                                        th:text="${attribute.name}"
                                        th:selected="${item.attributeIDs.contains(attribute.AttributeID)}"></option>
                            </select>
                        </div>
                        <p th:errors = "*{AttributeIDs}" class="text-danger"
                           th:if="${#fields.hasErrors('AttributeIDs')}"></p>


                        <div class="form-group mb-3">
                            <label for="categoryIDs" class="form-label">Categories <span class="text-danger">*</span></label>
                            <select class="form-control select2" id="categoryIDs" multiple="multiple" name="categoryIDs">
                                <option>Select</option>
                                <!-- Loop through categories and populate options -->
                                <option th:each="category : ${categories}"
                                        th:value="${category.categoryID}"
                                        th:text="${category.name}"
                                        th:selected="${item.categoryIDs.contains(category.categoryID)}"></option>
                            </select>
                        </div>
                        <p th:errors = "*{categoryIDs}" class="text-danger"
                           th:if="${#fields.hasErrors('categoryIDs')}"></p>


                        <div class="form-group mb-3">
                            <label for="item-price" class="form-label">Item Price <span
                                    class="text-danger">*</span></label>
                            <input type="text"
                                   id="item-price"
                                   class="form-control"
                                   placeholder="Enter Item description"
                                   th:field = "*{price}"
                            >
                        </div>
                        <p th:errors = "*{price}" class="text-danger"
                           th:if="${#fields.hasErrors('price')}"></p>


                    </div>
                </div> <!-- end card -->
            </div> <!-- end col -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Item Images</h5>

                        <!-- File upload section -->
                        <div class="form-group mb-3">
                            <label for="file" class="form-label">Upload Images</label>
                            <input type="file" id="file" name="file" multiple class="form-control-file">
                        </div>

                    </div>
                </div> <!-- end card -->
            </div>

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="text-center mb-3">
                    <button type="reset" class="btn w-sm btn-light waves-effect">Cancel</button>
                    <button type="submit" class="btn w-sm btn-success waves-effect waves-light">Save</button>
                    <button type="button" class="btn w-sm btn-danger waves-effect waves-light">Delete</button>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->


    </form>
</section>
</body>