<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin}" xmlns="http://www.w3.org/1999/html">
>

<body data-layout-mode="default" data-theme="light" data-layout-width="fluid" data-topbar-color="dark"
      data-menu-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='false'>
<section layout:fragment="content">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                        <li class="breadcrumb-item active"><a href="/items">Products</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ol>
                </div>
                <h4 class="page-title">Details</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="tab-content pt-0 col-lg-5 col-xl-5">
                                <div class="tab-pane active show" th:id="@{${medias[0].MediaID}}">
                                    <img th:src="@{${medias[0].fileOriginalPath}}" alt="pic"
                                         class="img-fluid mx-auto d-block rounded">
                                </div>
                                <div th:each="media, iterStat : ${medias}" th:if="${iterStat.index != 0}"
                                     class="tab-pane" th:id="@{${media.MediaID}}">
                                    <img th:src="@{${media.fileOriginalPath}}" alt="pic"
                                         class="img-fluid mx-auto d-block rounded">
                                </div>

                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item" th:each="media : ${medias}">
                                        <a th:href="@{'#' + ${media.MediaID}}" data-bs-toggle="tab"
                                           aria-expanded="false" class="nav-link product-thumb active show">
                                            <img th:src="@{${media.fileOriginalPath}}" alt=""
                                                 class="img-fluid mx-auto d-block rounded">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-7 col-xl-7">
                                <div class="ps-xl-3 mt-3 mt-xl-0">
                                    <a th:href="${seller.socialMedia}" class="text-primary"
                                       th:text="${seller.name}"></a>
                                    <h4 class="mb-3" th:text=${item.name}></h4>
                                    <div class="text-muted float-start me-3">
                                        <div class="rating-stars"
                                             th:utext="${@ratingUtils.generateStarIcons(item.rating)}"></div>
                                    </div>
                                    <p class="mb-4 text-muted" th:text="${item.num_ratings + ' customer ratings'}"></p>
                                    <h4 class="mb-4">Price : <span class="text-muted me-2"
                                                                   th:text="'$'+${item.price}"></span></h4>
                                    <h4>
                                        <span class="badge bg-soft-success text-success mb-4"
                                              th:if="${item.stock_quantity > 0}">Instock</span>
                                    </h4>
                                    <p class="text-muted mb-4" th:text="${item.description}"></p>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div>
                                                <p><strong>Categories:</strong></p>
                                                <p th:each="category: ${categories}" th:text="${category.name}"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <p><strong>Item Type:</strong> <span th:each="itemType: ${itemTypes}" th:if="${item.itemTypeID == itemType.itemTypeID}" th:text="${itemType.name}"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
</body>